project_token: 3f897916c5da97d9990d2823
name: churn-model-demo
jobs:
  - job_id: 0fe17047-0ea8-49c1-b956-5f3f366bc4ed
    language: python
    name: build-churn-model
    entrypoint: build-churn-model.py
    
  - job_id: 3a76475c-bb9d-4796-9f9a-35ae4379e7e4
    language: python
    name: score-new-users
    entrypoint: score-new-users.py